.app {
  background-color: var(--color-white);
  width: 1200px;
  height: 90vh;
  margin: 4rem auto;
  display: flex;

  @include respond(tab-land) {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}

.sidebar {
  flex: 0.35;
  display: flex;
  flex-direction: column;
}

.profile {
  background-color: var(--color-lightGrey);
  color: var(--color-grey);
  font-size: 2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
  border-right: var(--border-light);

  &__info,
  &__btns {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.search {
  background-color: var(--color-veryLightGrey);
  padding: 0.6rem 1rem;
  color: var(--color-grey);
  border-right: var(--border-light);
  border-bottom: var(--border-light);

  &__container {
    background: var(--color-white);
    padding: 0.6rem 1rem;
    border-radius: 3rem;
    display: flex;
    gap: 2rem;
  }

  &__input {
    flex: 1;
    border: none;
    outline: none;
    color: var(--color-darkGrey);
  }

  &__icon {
    cursor: pointer;
  }
}

.chatsList {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  // scrollbar firefox
  scrollbar-width: thin;
  scrollbar-color: var(--color-grey) transparent;
}

// scrollbar v8

.chatsList::-webkit-scrollbar {
  width: 0.3rem;
  background: transparent;
}

.chatsList::-webkit-scrollbar-thumb {
  background-color: var(--color-grey);
}

.main {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.header {
  height: 4rem;
  background-color: var(--color-lightGrey);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 0.6rem;

  &__content {
    flex: 1;
    display: inherit;
    justify-content: space-between;
    align-items: center;
  }
}

.messagesList {
  flex: 1;
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  background-size: 100%;
  background-repeat: repeat-y;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.messagesList::-webkit-scrollbar {
  width: 0.3rem;
  background: transparent;
}

.messagesList::-webkit-scrollbar-thumb {
  background-color: var(--color-grey);
}

.message-form {
  position: relative;
  background-color: var(--color-lightGrey);
  color: var(--color-grey);
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.5rem 0;

  &__input {
    flex: 1;
    font-size: 1rem;
    color: var(--color-darkGrey);
    outline: none;
    border: none;
    padding: 0.6rem;
    border-radius: 2rem;
  }

  .emoji-picker-react {
    position: absolute;
    top: -20rem;
    box-shadow: none;
    z-index: 15;
    display: none;
  }

  &.picker-shown .emoji-picker-react {
    display: flex;
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  background-color: var(--color-white);
  height: fit-content;
  border-radius: 1rem;
  margin: 4rem auto;
  max-width: 25rem;
  text-align: center;

  button {
    background-color: var(--color-white);
  }

  &__logo {
    color: var(--color-blue);
    width: 6rem;
    height: 6rem;
  }
}

.alert {
  width: 100%;
  height: 100%;
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  background-size: 100%;
  background-repeat: repeat-y;

  &__content {
    width: 100%;
    max-width: 25rem;
    margin: 4rem auto;
    padding: 0.8rem;
    text-align: center;
  }

  &__logo {
    color: var(--color-blue);
    width: 5rem;
    height: 5rem;
    margin: 0.8rem 0;
  }

  a {
    &:link,
    &:visited {
      color: var(--color-blue);
      display: inline-block;
      text-decoration: underline !important;
      padding: 2px;
      background-color: #fff;
      transition: all 0.3s;
    }

    &:hover {
      box-shadow: 0 1px 5px #00000050;
      transform: rotateZ(-15deg) scale(1.05);
    }
  }

  p {
    font-size: 1.1rem;
    margin: 0.2rem 0;

    &:last-child {
      color: var(--color-blue);
    }
  }
}
